/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  height: 100vh; /* Set body height to full viewport height */
  margin: 0; /* Ensure no default margin */
  position: relative; /* Establish a positioning context for absolute elements */
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Main content styles */
main {
  display: flex;
  flex-direction: column; /* Change to a single column layout */
  align-items: stretch; /* Items stretch to full width */
  padding: 20px;
}

.map {
  width: 100%; /* Take full width */  
  height: 600px;
  background-color: #f0f0f0; /* Placeholder color */
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  background-color: #333 ; /* Transparent background rgba(240, 240, 240, 0)*/
  color: #fff;
  text-align: left;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0; /* Position the footer to the left edge of the page */
  width: 10%;
  height: 5%; /* Set footer height to 10% of body height */
}
